{% assign asset_url="http://dev.nouveller.com/rusic" %}
<!DOCTYPE html>
    <!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% if idea %}
        {{ idea.title }} &middot;
      {% endif %}
      {{ space.title }}
      V.2.
    </title>
    <meta name="description" content="{{space.summary}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if idea %}
    <meta property="og:title" content="{{ idea.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ idea.permalink }}"/>
    <meta property="og:image" content="{{idea.images.first.square}}"/>
    <meta property="og:site_name" content="{{ space.title }}"/>
    <meta property="og:description" content="{{ idea.content }}" />
    {% else %}
    <meta property="og:title" content="{{space.title}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ space.permalink }}"/>
    <meta property="og:image" content="{{ space.ideas.first.images.first.square}}"/>
    <meta property="og:site_name" content="{{space.title}}"/>
    <meta property="og:description" content="{{space.summary}}" />
    {% endif %}

    <link rel="stylesheet" href="{{asset_url}}/styles.css">

    {{ content_for_header }}
    <link rel="stylesheet" href="{{asset_url}}/js/fancybox/jquery.fancybox.css">
    <script src="{{asset_url}}/js/modernizr-2.0.6.min.js"></script>
  </head>
  <body class="{{ body_class }}">

  {% if error %}
  <div class="alert-message error prompt">
  {{ error }}
  </div>
  {% endif %}
  {% if alert %}
  <div class="alert-message warning prompt">
  {{ alert }}
  </div>
  {% endif %}
  {% if notice %}
  <div class="alert-message success prompt">
  {{ notice }}
  </div>
  {% endif %}
  
  <div class="wrapper">
  <h1><a href="{{space.permalink}}" title="link to Social Space">{{space.title}}</a></h1>

  <p class="strapline">"Humanizing the world, one googly eye at a time..."</p>

  <div class="header-extra">
    {% if space.expires_at %}
      <div id="timer">
        <time id="expires-at" datetime="{{space.expires_at}}">{{space.expires_at}}</time>
        <span class="countdown-text">Left to submit your photos</span>
      </div>
    {% endif %}      

    <!-- Share buttons-->
    <div id="share-space">
      <div class="share-buttons">
      <span class='st_twitter_hcount' displayText='Tweet'></span>
      <span class='st_facebook_hcount' displayText='Facebook'></span>
      <span class='st_plusone_hcount' ></span>
      </div>
      <span class="text">Share this page:</span>
    </div>
  </div><!-- /.header-extra -->

  {{ yield }}

  <footer>
      <p>A rusic theme to bomb the eyes out of you.</p>
    </footer>
  </div><!-- /.wrapper -->

  <div class="nav-item nav-left-cont">
    <a href="#" id="nav-left" class="nav-inactive">Left</a>
  </div><!-- /.nav-item -->

  <div class="nav-item nav-right-cont">
    <a href="#" id="nav-right">right</a>
  </div><!-- /.nav-item -->

  <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'905146cb-1a71-4122-a2cd-e4a1c5d56f19'});</script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{asset_url}}/js/jquery-1.6.2.min.js"><\/script>')</script>
  <script src="{{asset_url}}/js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Xave6hpAmTKT4LT3L2vmkSq-roi0bxc&sensor=false"></script>

  <script src="{{asset_url}}/js/global.js"></script>
  </body>
</html>